/* Extra small devices (phones, 600px and down) */
@media (min-width: 1200px)
{
.container {
    max-width: 1170px;
}
}
@media(max-width: 1199px) and (min-width: 992px) {
.tab_box {
    width: 276px;
    height: 256px;
    margin-right: 30px;

}



.p_nw {
       padding: 34px 11px 34px 11px;
       margin-right: 18px;
}
.field {
    width: 189px;
    float: left;
    margin-right: 28px;
}
.ui[class*="left icon"].input>input {
    width: 188px;
}
.line_down_right_1_ffth,
.line_down_right_1_fst,
.line_down_left_1_fst,
.line_down_left_1_thrd,
.line_down_right_1_thrd,
.line_down_left_1_scnd,
.line_down_right_1_scnd,
.line_down_left_1_frth,
.line_down_right_1_frth,
.line_down_left_1_ffth ,
.line_down_right,
.line_down_left_1,
.line_down_right_1
{
    
    font-size:19px;
   
}
.nt_sub_name {
    font-size: 18px;

}





}
@media only screen and (max-width: 600px) {
  
.welcome_right {
    
    padding: 38px 0px 0px 10px;
}

.login_main_input {
    margin-top: 29px;
    width: 100%;


} 
.login_btn {
    width: 100%;


} 
.fgw {
    width: 100%;

}
.ftr_right, .ftr_left {
    text-align: center;
}
.signup_link {
   
    width: 100%;
  }
 .cntry {
    padding: 13px 12px;
}
.no {
    padding: 24px 8px;
    }
    .date {
    
    margin: 0px 28px 0px 0px;
}
.date_1 input {
    
    margin: 33px 28px 0px 0px !important;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
.welcome_right {
    
    padding: 38px 0px 0px 10px;
}

.login_main_input {
    margin-top: 29px;
    width: 100%;


} 
.login_btn {
    width: 100%;

}
.fgw {
    width: 100%;

}
.btm_box {
    float: left;
    width: 100% !important;
    height: auto;
    text-align: center;
    margin-bottom: 10px;
}
.btm_box_main {
    max-width:none;
    height: auto;
    margin: 0px auto;
    display: block;
}

}
 @media(max-width: 991px) and (min-width: 767px) {
.field {
    width: 189px;
    float: left;
    margin-right: 28px;
}
.ui[class*="left icon"].input>input {
    width: 188px;
}
.btm_box {
    float: left;
    width: 226px;

 }
 .nt_sub_name {
    font-size: 16px;
	height:63px
 }
 .second_sub p {
    font-size: 24px;
    padding: 3px 3px;
    line-height: 12px;
}
.small_text {
    font-size: 12px !important;
    height: 38px;
    float: left;
	 width: 100%;
}
.third_sub_name {
    height:42px;
}
.third_sub {
    height: 175px;
}
.third_sub_r {
    width: 20%;
    float: left;
    height: 82.5px;
}
 .line_down_right_1_ffth,
.line_down_right_1_fst,
.line_down_left_1_fst,
.line_down_left_1_thrd,
.line_down_right_1_thrd,
.line_down_left_1_scnd,
.line_down_right_1_scnd,
.line_down_left_1_frth,
.line_down_right_1_frth,
.line_down_left_1_ffth ,
.line_down_right,
.line_down_left_1,
.line_down_right_1
{
    
    font-size:19px;
   

}
.main_div {
    flex-grow: 1;
    overflow: auto;
    justify-content: center;
    width: 990px;
    float: left;
}
 }
 
  @media(max-width: 767px) and (min-width: 320px) {
 .line_down_right_1_ffth,
.line_down_right_1_fst,
.line_down_left_1_fst,
.line_down_left_1_thrd,
.line_down_right_1_thrd,
.line_down_left_1_scnd,
.line_down_right_1_scnd,
.line_down_left_1_frth,
.line_down_right_1_frth,
.line_down_left_1_ffth ,
.line_down_right,
.line_down_left_1,
.line_down_right_1
{
    
    font-size:19px;
   }
 .r2g_nav_item a
{
    
    font-size:19px;
    padding: 16px 0px 17px 0px;
   
}
.menu_active {
  
     padding: 16px 0px 17px 0px !important;
}
.btm_box {
    float: left;
    width: 167px;
    height: auto;
    text-align: center;
}
.btm_box {
    float: left;
    width: 226px;

 }
 .nt_sub_name {
    font-size: 16px;
	height:63px
 }
 .second_sub p {
    font-size: 24px;
    padding: 3px 3px;
    line-height: 12px;
}
.small_text {
    font-size: 12px !important;
    height: 38px;
    float: left;
	    width: 100%;
}
/*.third_sub_name {
    height:42px;
}*/
.third_sub {
    height: 167px;
}
.third_sub_r {
    width: 20%;
    float: left;
    height: 82.5px;
}
  
.main_div {
    flex-grow: 1;
    overflow: auto;
    justify-content: center;
  width: 990px;
    float: left;
}  
  
  
  
  }
 
 
 
 
 
 
 
 
 
 
@media only screen and (max-width: 768px) {

 .pro_cnt_detai1 {
    padding: 18px 0px;
    width: 277px;
    float: left;
}
.logo
{
padding:30px 0px;
margin:0px auto;
display: block;
float:none;
}
.head_right {
    float: none;
   width: auto;
    height: auto;
    margin: 0px auto;
    display: block;
}
.p_nw {
   padding: 32px 19px 32px 19px;
    float: left;
}
.pro_dropbtn {
    padding: 36px 10px 0px 5px;
    
}
.stmnt_table {
    float: left;
    width: 800px;
    height: auto;
}
.welcome_left_img img {
    width: 100%;
    height: auto;
    }
    .founder {
    max-width: 85%;
}


}


@media(max-width: 1192px) and (min-width: 1024px) {


}
/* Medium devices (landscape tablets, 768px and up) */
@media(max-width: 991px) and (min-width: 768px) {


.welcome_right {
    
    padding: 38px 0px 0px 5px;
}

.login_main_input {
    margin-top: 29px;
    width: 100%;


} 
.login_btn {
    width: 100%;

  }
  .fgw {
    width: 100%;

}
.check_mark, .checkmark {
    
    height: 18px;
    width: 18px;
}
.radio_container, .rmbr_container {
    
    padding-left: 25px;
    margin-bottom: 12px;
    font-size: 17px;
    
    margin-right: 5px;
}
.signup_link {
    
    width: 100%;
    
}




.logo
{
padding:30px 0px;
margin:0px auto;
display: block;
float: none;
}
.tab_box {
    width: 306px;
    height: 256px;
    margin-right: 30px;
    }
.stmnt_table {
    float: left;
    width: 800px;
    height: auto;
}
.founder {
    max-width: 85%;
}

.p_nw {
    padding:32px 11px 32px 11px;
    float: left;
}
}
@media(max-width: 767px) and (min-width: 576px) {


   
.tab_box {
    width: 227px;
    height: 290px;
    }
    .field {
    width: 119px;
    float: left;
    margin-right: 28px;
}
.ui[class*="left icon"].input>input {
    width: 135px;
}
.date {
    width: 150px;
    }
    .point_title {
    
    padding: 23px 0px 0px 0px;
}
.date {
    
    width: 143px;
    height: 56px;
    margin: 41px 13px 43px 0px;
}
.btm_box {
    float: left;
    width: 166px;
}
.btm_box_main {
    width: 510px;
    height: auto;
    margin: 0px auto;
    display: block;
	max-width:none;
}
}
@media only screen and (max-width: 467px) {

.radio_container, .rmbr_container {
    display: block !important;
}

.tab_box {
    width: 98%;
}
    }
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 575px) {

.ui[class*="left icon"].input>input {
   
    width: 242px;
}

.filter_icon {
    float: right;
    padding: 80px 0px 50px;
}
.p_nw {
       padding: 32px 13px 32px 13px;
    float: left;
}
.language_btn {
    float: left;
    }
    .menu_active,.r2g_nav_item a  {
    
    padding: 11px 0px 20px 0px !important;
}
.chat_icon {
    position: absolute;
    right: 0;
    bottom: 56px;
}

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */


@media screen and (min-width: 768px) {
  .tab-button-outer {
    position: relative;
    z-index: 2;
    display: block;
  }
  .tab-select-outer {
    display: none;
  }
  .tab-contents {
   
    margin-top: 38px;
  }
  .bg-light {
    background-color: #fff !important;
}





}
@media screen and (min-width: 992px) {

.navbar-toggler_r2g
{
 display:none;   
}

}

@media screen and (max-width: 992px) {.container {
    max-width: 100%;
}
.third_sub {
    width: 100%;
}
.third_sub_r {
    width: 100%;
}
.linemain_1 container, .linemain_2 container
{
    max-width: 100%;
}
}


@media only screen and (max-width: 600px){
.language_btn {
font-size: 11px;
width: auto;
height: auto;
margin: 37px 0px 30px 0px;
padding: 5px 16px 5px 10px;
}
ul.dropdown-menu.dropdown_lng.show {
width: auto;
padding: 5px 14px;
border: 1px solid #E7DBDB;
font-size: 13px;
color: #6F6F6F;
min-width: auto;
}
}


@media ( max-width: 387px)
{
.signup_link {
   font-size: 16px;
}


}